body {
  text-align: center;
  background-color: #0B0C10;
  color: #C5C6C7;
  font-family: "Share Tech Mono", monospace;
}

.jumbotron {
  padding: 20px;
  text-align: center;
  background-color: #45A29E;
  color: #66FCF1;
  margin-top: 15px;
}

#lyrics {
  margin-bottom: 30px;
  float: right;
}
#lyrics img {
width: 70%;
margin-top: 10px;
}

#lyrics p {
  margin: 0;
}

.btn-dark {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  color: #C5C6C7;
  background-color: #1F2833;
}

#name,
#input {
  margin: auto;
  width: 90%;
  margin-bottom: 25px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: #1F2833;
}

#result {
  display: none;
}

#result img {
  max-height: 400px;
  margin-bottom: 10px;
}

#error {
  display:none;
}

a:link {
  color: #66FCF1;
}

a:visited {
  color: #45A29E;
}

#portfolio {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
}

#content {
 min-height: 95vh;
 display: inline-block;
}